body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background-color: antiquewhite
}
.cotenc{
  display: flex;
  width: 100%;
}
.cotenc_posc{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
gap: 10px;
}
.contador{
  display: flex;
 width: 30px;
 flex-direction: column;

}